# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#Clion files
.idea/
cmake-build-debug/

#cmake files
buildCMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake
*.swp
valgrind.csv

CMakeCache.txt
count_down_latch_example1
count_down_latch_example2

